# Rules from: /Users/bytedance/Documents/jlxtrysch/.gitignore
node_modules/
package/
config/
node_modules/
src/index.bin.js
src/index.js
src/test.npm.js
.babelrc
.gitignore
package-lock.json
package.json